BasedOnStyle: Microsoft

TabWidth: 8
IndentWidth: 8
UseTab: true
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
NamespaceIndentation: All
ReflowComments: false

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false

BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterClass: true
  AfterCaseLabel: true